#take-chat {
  background: rgb(84,110,122);
  color: white;
  overflow: hidden;  
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
}

#take-chat iframe { border: 0; }

.fixed-window{
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 20px 1px rgba(0,0,0,.26);
  padding: 40px 0px 14px 0px;
  position: fixed;
  bottom: 0;
  right: 30px;
  width: 300px;
  transition: 700ms;
}

.mobile-closed-fixed-window{
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 20px 1px rgba(0,0,0,.26);
  padding: 40px 0px 14px 0px;
  position: fixed;
  bottom: 0;
  right: 0px;
  width: 300px;
  transition: 700ms;
}

.mobile-open-fixed-window{
  border-radius: 0;
  box-shadow: 0 0 20px 1px rgba(0,0,0,.26);
  padding: 40px 0px 14px 0px;
  position: fixed;
  bottom: 0;
  right: 0px;
  width: 100%;
  transition: 700ms;
}

.target-window{
  position: relative;
  width: 100%; 
  height: 100%;
}

#blip-close-btn {
  padding-top: 5px;
  position: absolute;
  top: 6px;
  left: 10px;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

#blip-close-btn .blip-logo {
  max-width: 18px;
  width: 18px;
  margin-right: 5px;
  vertical-align: middle;
}

.blip-footer {
  position: absolute;
  bottom: 1px;
  right: 5px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.blip-hidden-chat { bottom: -480px !important; }
.blip-show-chat { bottom: 0; }

.blip-minimize {
  visibility: hidden; 
  float: right; 
  margin-right: 25px; 
  width: 18px;
}
