#blip-chat-modal {

    #modal-image {
        max-height: 80vh;
        max-width: 80vw;
        display: block;
    }

    #close-modal {
        position:absolute;
        top: 0px;
        right: 0px;
        display: flex;
        background:rgba(0, 0, 0, 0.3);
    }

    &.modal {
        position: fixed;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        overflow: hidden;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: rgba(33, 33, 33, 0.8);
        z-index: 2147483648;
    }

    .modal-box {
        position: relative;
        overflow: initial;
        display: grid;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
        text-align: center;
        -webkit-transition: all 0.3s cubic-bezier(0.2, 0.9, 0.3, 1.5);
        transition: all 0.3s cubic-bezier(0.2, 0.9, 0.3, 1.5);
        transform: translate(0, 0) scale(1);
    }

    &.isVisible {
        opacity: 1;
        visibility: visible;
    }

}
